obj/
bin/
Properties/
AssemblyInfo.cs
.vscode/
/.vs/HWPicker_NewDotNet/DesignTimeBuild/.dtbcache.v2
/.vs/HWPicker_NewDotNet/FileContentIndex/46a2ef84-60d3-4222-aa44-745f22b7ebef.vsidx
/.vs/HWPicker_NewDotNet/FileContentIndex/3e8d7114-c7fb-407f-bbfe-dd38fe819514.vsidx
/.vs/HWPicker_NewDotNet/v17/.suo
/.vs/HWPicker_NewDotNet/v17/DocumentLayout.json
/.vs/HWPicker_NewDotNet/FileContentIndex
